<div class="header d-flex align-items-end justify-content-between">
<!--  <div class="">-->
    <img src="logo.png" alt="logo">
<!--  </div>-->
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Destinations</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Hotels</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Flights</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Booking</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Sign up</a>
    </li>
  </ul>
</div>
