<div class="home">
  <div class="row h-75">
    <div class="home-right d-flex flex-column justify-content-center col-lg-6 col-sm-12">
      <p class="text-highlighted text-uppercase">Best Destinations around the world</p>
      <h1 class="text-h1">Travel, enjoy and live a new and full life</h1>
      <p class="text-description my-3">Built Wicket longer admire do barton vanity itself do in it. Preferred to sportsmen it engrossed listening. Park gate sell they west hard for the.</p>
      <div class="d-flex mt-3">
        <button class="btn-find-more me-5">Find out more</button>
        <div class="d-flex align-items-center ">
          <img class="play-demo mx-2" src="play_button.png" alt="play demo image">
          Play Demo
        </div>
      </div>
    </div>
    <div class="home-left col-lg-6 col-sm-12"></div>
  </div>
</div>
<div class="services w-100 position-relative">
  <h5 class="text-center">CATEGORY</h5>
  <h3 class="text-center mb-5">We Offer Best Services</h3>
  <div class="blocks row">
    <div class="p-3 col-lg-3 col-md-6 col-sm-12">
      <div class="block d-flex flex-column align-items-center p-5">
        <img src="services_1.png" alt="weather icon">
        <p class="mt-4">Calculated Weather</p>
        <p class="text-center">
          Built Wicket longer admire do barton vanity itself do in it.
        </p>
      </div>
    </div>
    <div class="p-3 col-lg-3 col-md-6 col-sm-12">
      <div class="block d-flex flex-column align-items-center p-5">
        <img src="services_2.png" alt="weather icon">
        <p class="mt-4">Calculated Weather</p>
        <p class="text-center">
          Built Wicket longer admire do barton vanity itself do in it.
        </p>
      </div>
    </div>
    <div class="p-3 col-lg-3 col-md-6 col-sm-12">
      <div class="block d-flex flex-column align-items-center p-5">
        <img src="services_3.png" alt="weather icon">
        <p class="mt-4">Calculated Weather</p>
        <p class="text-center">
          Built Wicket longer admire do barton vanity itself do in it.
        </p>
      </div>
    </div>
    <div class="p-3 col-lg-3 col-md-6 col-sm-12">
      <div class="block d-flex flex-column align-items-center p-5">
        <img src="services_4.png" alt="weather icon">
        <p class="mt-4">Calculated Weather</p>
        <p class="text-center">
          Built Wicket longer admire do barton vanity itself do in it.
        </p>
      </div>
    </div>
  </div>
  <img class="services-bg position-absolute top-0 end-0" src="services_bg.png" alt="play demo image">
</div>
<div class="destinations w-100 position-relative">
  <h5 class="text-center">Top Selling</h5>
  <h3 class="text-center mb-5">Top Destinations</h3>
  <div class="blocks row">
    <div class="col-lg-4 col-sm-12">
      <div class="block position-relative m-auto">
        <img class="w-100" src="Rome.png" alt="weather icon">
        <div class="block-bottom position-absolute bottom-0 w-100 p-3">
          <div class="d-flex justify-content-between fw-bold">
            <p class="mt-4">Rome, Italy</p>
            <p class="mt-4">$5,42k</p>
          </div>
          <p class="mt-4"><img src="navigation.png" alt="">10 days trip</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-12">
      <div class="block position-relative m-auto">
        <img class="w-100" src="London.jpg" alt="weather icon">
        <div class="block-bottom position-absolute bottom-0 w-100 p-3">
          <div class="d-flex justify-content-between fw-bold">
            <p class="mt-4">London, UK</p>
            <p class="mt-4">$4,2k</p>
          </div>
          <p class="mt-4"><img src="navigation.png" alt="">10 days trip</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-12">
      <div class="block position-relative m-auto">
        <img class="w-100" src="Europe.png" alt="weather icon">
        <div class="block-bottom position-absolute bottom-0 w-100 p-3">
          <div class="d-flex justify-content-between fw-bold">
            <p class="mt-4">Full Europe</p>
            <p class="mt-4">$15k</p>
          </div>
          <p class="mt-4"><img src="navigation.png" alt="">10 days trip</p>
        </div>
      </div>
    </div>
    <img class="destinations-bg position-absolute bottom-0 end-0" src="destinations_bg.png" alt="destinations image">
  </div>
</div>
<div class="next-trip pt-5 mt-5 row">
  <div class="col-lg-6 col-sm-12">
    <p>Easy and Fast</p>
    <h1>Book Your Next Trip <br/> In 3 Easy Steps</h1>
    <div class="d-flex mt-5">
      <img class="next-trip-icon me-3" src="next_trip_1.png" alt="next trip icon">
      <div>
        <p class="text-highlighted mb-1 fw-bold">Choose Destination</p>
        <p class="p-0">Lorem ipsum dolor sit amet, consectetur
          <br/>adipiscing elit. Urna, tortor tempus. </p>
      </div>
    </div>
    <div class="d-flex mt-4">
      <img class="next-trip-icon me-3" src="next_trip_2.png" alt="next trip icon">
      <div>
        <p class="text-highlighted mb-1 fw-bold">Make Payment</p>
        <p class="p-0">Lorem ipsum dolor sit amet, consectetur
          <br/>adipiscing elit. Urna, tortor tempus. </p>
      </div>
    </div>
    <div class="d-flex mt-4">
      <img class="next-trip-icon me-3" src="next_trip_3.png" alt="next trip icon">
      <div>
        <p class="text-highlighted mb-1 fw-bold">Reach Airport on Selected Date</p>
        <p class="p-0">Lorem ipsum dolor sit amet, consectetur
          <br/>adipiscing elit. Urna, tortor tempus. </p>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-sm-12">
    <div class="d-flex align-items-top position-relative">
      <img class="next-trip-bg position-absolute w-100" src="next_trip_bg.png" alt="next trip background">
    </div>
  </div>
</div>
<div class="w-100">
  <h5 class="text-center">PARTNERS</h5>
  <img class="w-100" src="partners_logos.png" alt="partners logo">
</div>
<div class="subscribe w-100 position-relative">
  <img class="subscribe-bg w-100 position-absolute" src="subscribe_bg.png" alt="subscribe section background">
  <div class="d-flex flex-column justify-content-center align-items-center h-75">
    <h2 class="text-center">Subscribe to get information, latest news and other <br/> interesting offers about Terranom</h2>
    <div class="subscribe-form d-flex mt-4">
      <input class="me-3 ps-4" type="text" placeholder="Your email">
      <button>Subscribe</button>
    </div>
  </div>
</div>
<div class="footer row w-75 m-auto">
  <div class="col-lg-6">
    <p class="footer-name fw-bold">Terranom</p>
    <p>Book your trip in minute, get full
      Control for much longer.
    </p>
  </div>
  <div class="col-lg-6">
    <div class="d-flex justify-content-center">
      <img class="footer-socials" src="footer_socials.png" alt="footer socials icons">
    </div>
  </div>
  <p class="text-center">All rights avolide&#64;gmail.com</p>
</div>
